<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.reactnativewithkotlin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
        <activity android:name=".nativeapp.MainActivity"/>
        <activity android:name=".nativeapp.SearchActivity" />
        <activity android:name=".nativeapp.ShareActivity" />
        <activity android:name=".nativeapp.LikesActivity" />
        <activity android:name=".nativeapp.ProfileActivity" />
        <activity android:name=".nativeapp.ProfileEditActivity" />
        <activity
            android:name=".nativeapp.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"/>
    </application>
</manifest>
